<!DOCTYPE html>
<html lang="th" xmlns="http://www.w3.org/1999/xhtml">
<head>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  <%=javascript_include_tag :all, :recursive => true %>
  <%= stylesheet_link_tag  "application",  media: "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'pp.png' %>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>


</head>

<%= content_tag :body, data: { controller: controller_path, action: action_name}  do%>

    <ul>
      <div class="navbar-wrapper">

        <div class="container-fluid">

          <nav class="navbar navbar-fixed-top"style="color: green;background-color: green;height: 2cm">
            <%= image_tag 'pp1.png', style: "width: 2cm;height: 2cm",class: 'navbar-brand' %>
            <strong class="navbar-brand" style="color: whitesmoke;font-family: initial;font-weight: bold"><h2>Maa Aapki Chaaya</h2></strong>
            <div class="container">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <br>


              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active" style="height: 2cm">
                    <% if user_signed_in? %>
                        <%=link_to 'Home',results_path %>

                    <% end %></li>
                  <!--<li class=" dropdown">-->
                    <!--<a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="height: 2cm">Assignments <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" style="background-color: #009926">-->

                      <!--<li><a href="http://web14.cs.ait.ac.th/pages/ps1">Ps1</a></li>-->
                      <!--<li><a href="http://web14.cs.ait.ac.th/pages/ps2">Ps2</a></li>-->
                      <!--<li><a href="http://web14.cs.ait.ac.th/ps3/ps3">Ps3</a></li>-->
                      <!--<li><a href="https://web14.cs.ait.ac.th/maa/ps/ps4">Ps4</a></li>-->
                      <!--<li><a href="https://web14.cs.ait.ac.th/maa/ps/ps5">Ps5</a></li>-->
                      <!--<li><a href="https://web14.cs.ait.ac.th/maa/ps/ps6">Ps6</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->


                </ul>

                <ul class="nav navbar-nav pull-right">
                  <% if user_signed_in? %>
                      <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="height: 2cm">Signed in as  <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color: #009926">
                          <% if user_signed_in? %>
                              <li><a href=""><%= current_user.email %></a></li>
                          <% elsif user_signed_in? %>
                              <li><a href=""></a></li>
                          <% end %>
                          <li><%= link_to 'My Profile',edit_user_registration_path%></li>
                          <li><%= link_to 'Account Manage',edit_user_registration_path%></li>
                        </ul>
                      </li>
                      <!--<li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="height: 2cm">Message <span> <%= %></span></a>-->
                        <ul class="dropdown-menu" style="background-color: #009926">
                          <li><%#= link_to "New", new_message_path %></li>
                          <li><%#= link_to "Inbox", messages_path %></li>
                        </ul>
                      </li>
                      <li><%= link_to 'Account Manage',edit_user_registration_path ,style: 'height: 2cm' %></li>
                      <li class=""><%= link_to "Log out", destroy_user_session_path, method: :delete,style: 'height: 2cm'  %></li>
                  <%else%>

                      <li class=""> <%= link_to "Login", new_user_session_path,style: 'height: 2cm'  %></a>


                      </li>
                  <%end%>
                </ul>

              </div>
            </div>
          </nav>
        </div>
      </div>
      <br><br><br>

      <h1 align="center" style="color: #B00100;font-family: initial" >
        <%= image_tag 'pp1.png', style:'width:3cm;height: 3cm' %>
        Maa Aapki chaaya<br> <marquee direction="right"  behavior="alternate" scrollamount="8" class="qus">
        <h2 align="" style="color: green;font-family: initial;"> Talento Cazar 2k17</h2></marquee></h1>

      <div id="user_status">

        <h3 align="center" style="color: seagreen">
          <% if user_signed_in? %>
              <%= current_user.email %>

          <% elsif user_signed_in? %>

              </h3>
          <% else %>

          <% end %>

          <div class="container">
            <% if flash[:error] %>
                <div id="flash" class="flash-"><%#= flash[:error] %></div>
            <% end %>
          </div>

          </div>

      <div class="container">
        <% flash.each do |message_type, message| %>
            <div id="flash" class="flash-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
      <%= yield %>
      </div>

      <style>
        .w3-button  {
          margin: 0;
          height: 150px;
          width: 150px;
          border-radius: 200%;
          border: 1px orange;
          position:fixed;
          margin-right: auto;
          right:0;
          bottom:0;
          padding:0;
          color: white;
          background-color: green;

        }

        @-moz-keyframes blink {
          0% {
            opacity: 0;
          }
          70% {
            opacity: 1;
          }

        }

        .w3-button  {
          -webkit-animation: blink 1s;
          -webkit-animation-iteration-count: infinite;
          -moz-animation: blink 1s;
          -moz-animation-iteration-count: infinite;
          -o-animation: blink 1s;
          -o-animation-iteration-count: infinite;
        }
        #flash {
          -webkit-animation: seconds 1.0s forwards;
          -webkit-animation-iteration-count: 1;
          -webkit-animation-delay: 5s;
          animation: seconds 1.0s forwards;
          animation-iteration-count: 1;
          animation-delay: 2.5s;
          position: relative;

        }
        @-webkit-keyframes seconds {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            left: -9999px;
          }
        }
        @keyframes seconds {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            left: -9999px;
          }
        }

      </style>

      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br></ul> <h6 align="center">Please contact us for any queries <a>+918978959059</a>
  or Email at : <a href="mailto:maaaapkichaaya@gmail.com">maaaapkichaaya@gmail.com</a>
  ,for technical queries whatsapp @<a>+918328629511</a>
  or Email at : <a href="mailto:jntu784@gmail.com">jntu784@gmail.com</a> or if you're unable to get your results contact your principal.
</h6><br><br><br>


<% end%>

</body>
</html>
