

<%=   form_for(result)  do |form| %>
    <% if result.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(result.errors.count, "error") %> prohibited this record from being saved:</h2>

          <ul>
            <% result.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <fieldset>

          <legend>
            <h3>Add New Student Result</h3></legend>
      <div class="form-group">
        <%= form.label 'ID Num' %>
        <%= form.text_field :macid,value: Result.find(@result.id).macid, class: "form-control", :size => 20, :maxlength => 6  %>
      </div>
          <div class="form-group">
            <%= form.label 'Student Name' %>
            <%= form.text_field :name,value: Result.find(@result.id).name, class: "form-control", :size => 20, :maxlength => 40 %>
          </div>
          <div class="form-group" id="dropdown" %>
            <%= form.label 'class' %>
            <%#= form.select :standard ,@res.all.collect {|p| [ p.standard] }, {include_blank: 'Select class',value: 'Select class'}, :onchange => 'test();',:class=>'form-control',datawidth:"400px" %>
            <%= form.text_field :standard,value: Result.find(@result.id).standard,class:"form-control", id: 'standard_new', :size => 20, :maxlength => 40,:disabled=>false%>
          </div>
          <div class="form-group">
            <%= form.label :score %>
            <%= form.text_field :score,value: Result.find(@result.id).score,class:"form-control" %>
          </div>
        </fieldset>
        <p>
        <div class="form_row">
          <%= form.submit 'Update Results',  class: "btn btn-success"%>
        </div>
        </p>



<% end %>
